{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
  <div class="auth-block">
    <h1 class="auth-logo">Korea Center</h1>

    <div class="login-form">
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.username.label }}<br>
          {{ form.username(size=64) }}
        </p>
        <p>
          {{ form.password.label }}<br>
          {{ form.password(size=64) }}
        </p>
        <p id="remember-input">
          {{ form.remember_me() }}
          <label for="remember_me" id="remember">Запомнить меня</label>
        </p>
        <p>
          {{ form.submit() }}
        </p>
      </form>
{#      <p style="text-align: center;">#}
{#        <a href="{{ url_for('auth.register') }}" class="unlined-btn">#}
{#          Зарегистрироваться#}
{#        </a>#}
{#      </p>#}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "auth/_auth_footer.html" %}
{% endblock %}