{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
  <h2>Регистрация</h2>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=64) }}<br>
      {% for error in form.username.errors %}
        [{{ error }}]
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=64) }}<br>
      {% for error in form.password.errors %}
        [{{ error }}]
      {% endfor %}
    </p>
    <p>
      {{ form.password2.label }}<br>
      {{ form.password2(size=64) }}<br>
      {% for error in form.password2.errors %}
        [{{ error }}]
      {% endfor %}
    </p>
    <p>
      {{ form.submit() }}
    </p>
  </form>
{% endblock %}