* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    color: #575757;
}

a:hover {
    text-decoration: underline;
}

nav {
    overflow: hidden;
    background-color: #F4F4F4;
}

nav ul {
    list-style-type: none;
}

.nav-item {
    float: left;
    width: 100px;
    text-align: center;
    margin: 18px 0;
    font-weight: 300;
    font-size: 1em;
}

.nav-item:first-child {
    margin: 15px 25px 15px 15px;
    font-size: 1.1em;
    font-weight: 500;
}

.nav-item:last-child {
    width: 120px;
    margin-top: 19px;
    font-size: 0.9em;
}

.head h2, .head a {
    display: inline-block;
}

.head a {
    float:right;
    text-decoration: underline;
    color: #4473ff;
}

.content {
    padding-top: 40px;
    width: 90%;
    min-height: 80vh;
    margin: auto;
}

.content h2 {
    margin-bottom: 20px;
}

.content h3 {
    margin-bottom: 40px;
    font-size: 1.2em;
}

footer {
    height: 70px;
    padding: 18px;
    width: 100%;

    margin-top: 40px;
    background-color: #F8F3EF;
}

footer p {
    color: #B99F8B;
    text-align: center;
    font-weight: 200;
}

.unlined-btn {
    color: #8c7159;
    text-decoration: underline;
    font-size: 0.9em;
}

.list {
    padding: 20px;
    margin-bottom: 10px;
    background: #FAFAFA;
}

table {
    width: 100%;
    text-align: left;
}

.table-head {
    font-weight: 700;
    font-size: 1.1em;
}

td:first-child {
    text-align: left;
    width: 50%;
}

td:last-child {
    text-align: center;
}

td {
    padding: 7px;
}

td a {
    text-decoration: underline;
}

.list ul {
    list-style-type: none;
}

.list li {
    padding: 7px;
}

.list li a {
    text-decoration: underline;
}

#managers, #clubs {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.auth-block {
    height: 400px;
    margin-top: 100px;
}

.auth-logo {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
    font-size: 2.2em;
}

.login-form {
    width: 470px;
    margin: auto;
}

.model-form p, .login-form p {
    margin: 10px;
}

.model-form label, .login-form label {
    font-weight: 700;
    font-size: 1.4em;
}

input[type=text], input[type=password] {
    padding: 5px;
    border-radius: 10px;
    border: 1px #E3E3E3 solid;
    max-width: 100%;
    height: 30px;
    font-size: 1em;
}

.model-form input, .model-form select {
    width: 300px;
}

#remember-input {
    text-align: left;
}

#remember {
    margin-left: 5px;
    font-weight: 200;
    font-size: 0.9em;
}

#submit {
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background-color: #E3E3E3;
    font-size: 1em;
    font-weight: 200;
}

.auth-footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.manager-profile {
    vertical-align: top;
}

.avatar {
    vertical-align: top;
    width: 49%;
    display: inline-block;
}

img.avatar {
    width: 250px;
    margin: 20px;
}

.model-list {
    vertical-align: top;
    width: 49%;
    display: inline-block;
}

.models-archive {
    display: block;
    width: 100%;
    background-color: #FAFAFA;
    padding: 20px;
    margin-bottom: 20px;
}

.model-form {
    margin: auto;
    width: 800px;
}

.left-inputs, .right-inputs{
    display: inline-block;
    width: 46%;
    vertical-align: top;
}

.left-inputs {
    margin-right: 20px;
}

.right-inputs {
    margin-left: 20px;
}

.left-inputs input[type=text] {
    width: 450px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.model-avatar {
    width: 250px;
    margin: auto;
}

.model-avatar img {
    width: 250px;
}

.upload-file {
    width: 200px;
    margin: 20px auto;
}

.upload-file label {
    font-weight: 100;
    font-size: 1.2em;
    margin: 30px;
}

input[type=file] {
    margin: 20px;
}

select {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.model-info {
    width: 45%;
    display: inline-block;
}