{% extends 'base.html' %}

{% block title %}Клуб {{ club.name }}{% endblock %}

{% block content %}
  <div class="head">
    <h2>{{ club.name }}</h2>
    {% if current_user.is_admin %}
      <a href="{{ url_for('main.edit_club', id=club.id) }}" class="edit">Редактировать</a>
    {% endif %}
  </div>

  <!-- Model List -->
  <div class="list">
    <h3>Всего моделей: {{ models|length }}</h3>
    {% if models|length > 0 %}
      <table>
        <tr class="table-head">
          <td style="width: 100px;text-align: center;">Фото</td>
          <td>Фамилия Имя Отчество</td>
          <td>Менеджер</td>
          <td>Осталось работать (дней)</td>
        </tr>
        {% for model in models %}
          {% if not model.is_archived %}
            <tr>
              <td style="width: 100px;">
                <p style="text-align: center;">
                  {% if model.avatar_id is not none %}
                    <img style="border-radius: 3px;"
                         src="{{ url_for('static', filename=('images/' + Photo.query.filter_by(id=model.avatar_id).first().name)) }}"
                         class="model-list-avatar"
                    />
                  {% endif %}
                </p>
              </td>
              <td><a href="{{ url_for('main.model', id=model.id) }}">{{ model.full_name }}</a></td>
              <td><a href="{{ url_for('main.manager', id=model.manager_id) }}">{{ model.manager.username }}</a></td>
              <td>{{ model.end_date }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endif %}
  </div>


  <!-- Model Archive -->
  {% if models_archive|length > 0 %}
    <div class="models-archive">
      <h2>Архив моделей</h2>
      <table>
        <tr class="table-head">
          <td>Фамилия Имя Отчество</td>
          <td>Менеджер</td>
          {# <td>Новый срок</td> #}
        </tr>
        {% for model in models_archive %}
          <tr>
            <td><a href="{{ url_for('main.model', id=model.id) }}">{{ model.full_name }}</a></td>
            <td><a href="{{ url_for('main.manager', id=model.manager_id) }}">{{ model.manager.username }}</a></td>
            {# <td>{{ model.next_date }}</td> #}
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
{% endblock %}