{% extends 'base.html' %}

{% block title %}Клуб {{ club.name }}{{ id }}{% endblock %}

{% block content %}
  <h2>{{ club.name }}</h2>
  <div class="model-list">
  <h3>Всего моделей: {{ club.models|length }}</h3>
  <table>
  <tr class="table-head">
    <td>Фамилия Имя Отчество</td>
    <td>Осталось работать (дней)</td>
  </tr>
  {% if club.models|length > 0 %}
    {% for model in club.models %}
      <tr>
        <td><a href="{{ url_for('main.model', id=model.id) }}">{{ model.full_name }}</a></td>
        <td>{{ model.end_date }}</td>
      </tr>
    {% endfor %}
  {% endif %}
  </table>
  </div>
{% endblock %}