{% extends 'base.html' %}

{% block title %}Добавить модель{% endblock %}


{% block content %}
  <h2>Новая модель</h2>

  <div class="model-form">
    <form action="{{ url_for('main.create_model') }}" method="post" enctype="multipart/form-data">

      <p>
        <label for="fullname">ФИО</label><br>
        <input type="text" name="fullname" placeholder="Иванова Алина Алексеевна" required>

      <p>
        <label for="date_of_birth">Дата рождения</label><br>
        <input type="text" name="date_of_birth" placeholder="01.01.1996" required>

      <p>
        <label for="city">Город</label><br>
        <input type="text" name="city" placeholder="Москва" required>

      <p>
        <label for="phone">Номер телефона</label><br>
        <input type="text" name="phone" placeholder="+79112345678">

      <p>
        <label for="departure_date">Желаемая дата вылета</label><br>
        <input type="text" name="departure_date" placeholder="01.01.2019">

      <p>
        <label for="ticket_price">Цена билета</label><br>
        <input type="text" name="ticket_price" placeholder="3500">

      <p>
        <label for="start_date">Дата начала работы</label><br>
        <input type="text" name="start_date" placeholder="01.01.2019">

      <p>
        <label for="period">Срок работы</label><br>
        <select name="period" id="period">
          <option value="30">30 дней</option>
          <option value="60">60 дней</option>
        </select>

      <p>
        <label for="club">Клуб</label><br>
        <select name="club" id="club">
          {% for club in clubs %}
            <option value="{{ club.id }}">{{ club.name }}</option>
          {% endfor %}
        </select>

      <p>
        <label for="file">Загрузить фото</label><br>
        <input type="file" name="file" id="file">

        <input type="submit" value="Добавить" id="submit">
    </form>
  </div>
{% endblock %}

{#{% block footer %}#}
{#  {% include "auth/_auth_footer.html" %}#}
{#{% endblock %}#}