{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block username %}Администратор Владимир{% endblock %}

{% block content %}
  <div class="list">
    <h2 class="block-title">Модели</h2>
    <table>
      <tr>
        <td class="table-head">Модель</td>
        <td class="table-head">Клуб</td>
        <td class="table-head">Осталось <br> работать</td>
      </tr>
      <tr>
        <td><a href="#">Уткина Людмила Ивановна</a></td>
        <td>Одинокий Джо</td>
        <td>12 дней</td>
      </tr>
      <tr>
        <td><a href="#">Уткина Людмила Ивановна</a></td>
        <td>Одинокий Джо</td>
        <td>12 дней</td>
      </tr>
      <tr>
        <td><a href="#">Уткина Людмила Ивановна</a></td>
        <td>Одинокий Джо</td>
        <td>12 дней</td>
      </tr>
      <tr>
        <td><a href="#">Уткина Людмила Ивановна</a></td>
        <td>Одинокий Джо</td>
        <td>12 дней</td>
      </tr>
      <tr>
        <td><a href="#">Уткина Людмила Ивановна</a></td>
        <td>Одинокий Джо</td>
        <td>12 дней</td>
      </tr>
      <tr>
        <td><a href="#">Уткина Людмила Ивановна</a></td>
        <td>Одинокий Джо</td>
        <td>12 дней</td>
      </tr>
      <tr>
        <td><a href="#">Уткина Людмила Ивановна</a></td>
        <td>Одинокий Джо</td>
        <td>12 дней</td>
      </tr>
      <tr>
        <td><a href="#">Уткина Людмила Ивановна</a></td>
        <td>Одинокий Джо</td>
        <td>12 дней</td>
      </tr>
      <tr>
        <td><a href="#">Уткина Людмила Ивановна</a></td>
        <td>Одинокий Джо</td>
        <td>12 дней</td>
      </tr>
    </table>
  </div>
  <div class="list" id="managers">
    <h2 class="block-title">Менеджеры</h2>
    <ul>
      <li><a href="#">Алексей Новиков</a></li>
      <li><a href="#">Алексей Новиков</a></li>
      <li><a href="#">Алексей Новиков</a></li>
      <li><a href="#">Алексей Новиков</a></li>
      <li><a href="#">Алексей Новиков</a></li>
      <li><a href="#">Алексей Новиков</a></li>
      <li><a href="#">Алексей Новиков</a></li>
      <li><a href="#">Алексей Новиков</a></li>
    </ul>
  </div>
  <div class="list" id="clubs">
    <h2 class="block-title">Клубы</h2>
    <ul>
      <li><a href="#">Одинокий Джо</a></li>
      <li><a href="#">Одинокий Джо</a></li>
      <li><a href="#">Одинокий Джо</a></li>
      <li><a href="#">Одинокий Джо</a></li>
      <li><a href="#">Одинокий Джо</a></li>
      <li><a href="#">Одинокий Джо</a></li>
      <li><a href="#">Одинокий Джо</a></li>
      <li><a href="#">Одинокий Джо</a></li>
      <li><a href="#">Одинокий Джо</a></li>
      <li><a href="#">Одинокий Джо</a></li>
      <li><a href="#">Одинокий Джо</a></li>
    </ul>
  </div>
  </div>
{% endblock %}