{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block username %}
  {% if current_user.is_authenticated %}
    <h2>Менеджер {{ manager.username }}</h2>
  {% else %}
    <h2>Пользователь не авторизован</h2>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="list">
    <h2 class="block-title">Модели</h2>
    <table>
      <tr>
        <td class="table-head" style="width: 100px;text-align: center;">Фото</td>
        <td class="table-head">Модель</td>
        <td class="table-head">Клуб</td>
        <td class="table-head">Менеджер</td>
        <td class="table-head">Осталось <br> работать</td>
      </tr>
      {% for model in models %}
        {% if not model.is_archived %}
          <tr>
            <td style="width: 100px;">
              <p style="text-align: center;">
                {% if model.avatar_id is not none %}
                  <img style="border-radius: 3px;"
                       src="{{ url_for('static', filename=('images/' + Photo.query.filter_by(id=model.avatar_id).first().name)) }}"
                       class="model-list-avatar"
                  />
                {% endif %}
              </p>
            </td>
            <td><a href="{{ url_for('main.model', id=model.id) }}">{{ model.full_name }}</a></td>
            <td><a href="{{ url_for('main.club', id=model.club_id) }}">{{ model.club.name }}</a></td>
            <td><a href="{{ url_for('main.manager', id=model.manager_id) }}">{{ model.manager.username }}</a></td>
            <td>{{ model.end_date }} дней</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>

  {% if current_user.is_admin %}
    <div class="list" id="managers">
      <h2 class="block-title">Менеджеры</h2>
      <table>
        <tr>
          <td class="table-head" style="width: 100px;text-align: center;">Фото</td>
          <td class="table-head">Имя</td>
        </tr>
        {% for manager in managers %}
          <tr>
            <td style="width: 100px;">
              <p style="text-align: center;">
                {% if manager.avatar_id is not none %}
                  <img style="border-radius: 3px;"
                       src="{{ url_for('static', filename=('images/' + Photo.query.filter_by(id=manager.avatar_id).first().name)) }}"
                       class="model-list-avatar"
                  />
                {% endif %}
              </p>
            </td>
            <td><a href="{{ url_for('main.manager', id=manager.id) }}">
              {% if manager.name == None %}
                {{ manager.username }}
              {% else %}
                {{ manager.name }}
              {% endif %}
            </a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
  <div class="list" id="clubs">
    <h2 class="block-title">Клубы</h2>
    <ul>
      {% for club in clubs %}
        <li><a href="{{ url_for('main.club', id=club.id) }}">{{ club.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}