{% extends 'base.html' %}

{% block title %}Менеджер {{ manager.username }} {% endblock %}

{% block content %}
  <div class="head">
    <h2>
      {% if manager.is_admin %}
        Администратор
      {% else %}
        Менеджер
      {% endif %}
      {{ manager.username }}
    </h2>
    {% if current_user.is_root %}
      <a href="{{ url_for('main.delete_manager', id=manager.id) }}" class="delete-btn">Удалить менеджера</a>
      <a href="{{ url_for('main.edit_manager', id=manager.id) }}" class="edit">Редактировать</a>
    {% endif %}
  </div>

  <!-- Manager's Info -->
  <div class="manager-profile">
    {% if avatar_filename != None %}
      <div class="avatar">
        <img src="{{ url_for('static', filename='images/{}'.format(avatar_filename)) }}" alt="" class="avatar">
      </div>
    {% endif %}

    <!-- Model List -->
    <div class="model-list">
      <h3>Всего моделей: {{ models|length }}</h3>
      {% if models|length > 0 %}
        <table style="text-align: center;">
          <tr class="table-head">
            <td style="width: 100px;text-align: center;">Фото</td>
            <td style="text-align: left;">Модель</td>
            <td>Начало работы</td>
            <td>Осталось <br> работать</td>
          </tr>
          {% for model in models %}
            {% if not model.is_archived %}
              <tr>
                <td style="width: 100px;">
                  <p style="text-align: center;">
                    <img style="border-radius: 3px;"
                         src="{{ url_for('static', filename=('images/' + Photo.query.filter_by(id=model.avatar_id).first().name)) }}"
                         class="model-list-avatar"
                    />
                  </p>
                </td>
                <td style="text-align: left;"><a
                    href="{{ url_for('main.model', id=model.id) }}">{{ model.full_name }}</a></td>
                {% if model.start_date is not none %}
                  <td>{{ model.start_date.strftime('%d.%m.%Y') }}</td>
                {% else %}
                  <td>Дата не указана</td>
                {% endif %}
                <td>{{ model.end_date }} дней</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        </div>
      {% endif %}

    <!-- Model Archive -->
    {% if models_archive|length > 0 %}
      <div class="models-archive">
        <h2>Архив моделей</h2>
        <table>
          <tr class="table-head">
            <td>Фамилия Имя Отчество</td>
            <td>Клуб</td>
            {# <td>Новый срок</td> #}
          </tr>
          {% for model in models_archive %}
            <tr>
              <td><a href="{{ url_for('main.model', id=model.id) }}">{{ model.full_name }}</a></td>
              <td><a href="{{ url_for('main.club', id=model.club.id) }}">{{ model.club.name }}</a></td>
              {# <td>{{ model.next_date }}</td> #}
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
  </div>
{% endblock %}
