{% extends 'base.html' %}

{% block title %}Менеджер {{ manager.username }} {% endblock %}

{% block content %}
  <h2>Менеджер {{ manager.username }}</h2>

  <div class="manager-profile">
    {% if avatar_filename != None %}
      <div class="avatar">
        <img src="{{ url_for('static', filename='images/{}'.format(avatar_filename)) }}" alt="" class="avatar">
      </div>
    {% endif %}
    <div class="model-list">
      <h3>Всего моделей: {{ models|length }}</h3>
      <table>
        <tr class="table-head">
          <td>Модель</td>
          <td>Начало работы</td>
        </tr>
        {% for model in models %}
          <tr>
            <td><a href="{{ url_for('main.model', id=model.id) }}">{{ model.full_name }}</a></td>
            {% if model.start_date is not none %}
              <td>{{ model.start_date.strftime('%d.%m.%Y') }}</td>
            {% else %}
              <td>Дата не указана</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="models-archive">
      <h2>Архив моделей</h2>
      <table>
        <tr>
          <td>Фамилия Имя Отчество</td>
          <td>Клуб</td>
          <td>Окончание срока</td>
          <td>Новый срок</td>
        </tr>
        {% for model in models_archive %}
          <tr>
            <td>{{ model.full_name }}</td>
            <td>{{ model.club.name }}</td>
            <td>{{ model.end_date }}</td>
            <td>{{ model.next_date }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
