{% extends 'base.html' %}

{% block title %}Модель {{ model.full_name }}{% endblock %}

{% block content %}
  <div class="head">
    <h2>{{ model.full_name }}</h2>
    <a href="{{ url_for('main.edit_model', id=model.id) }}" class="edit">Редактировать</a>
  </div>

  <div class="model-profile">
    {% if avatar_filename != None %}
      <div class="avatar">
        <img src="{{ url_for('static', filename='images/{}'.format(avatar_filename)) }}" alt="" class="avatar">
      </div>
    {% endif %}
    <div class="model-info">
      <table>
        <tr>
          <td>ФИО</td>
          <td>{{ model.full_name }}</td>
        </tr>
        <tr>
          <td>Дата рождения</td>
          <td>{{ model.date_of_birth.strftime('%d.%m.%Y') }}</td>
        </tr>
        <tr>
          <td>Город</td>
          <td>{{ model.city }}</td>
        </tr>
        <tr>
          <td>Номер телефона</td>
          {% if model.phone == '' %}
            <td>Не указан</td>
          {% else %}
            <td>{{ model.phone }}</td>
          {% endif %}
        </tr>
        <tr>
          <td>Дата начала работы</td>
          {% if model.start_date is not none %}
            <td>{{ model.start_date.strftime('%d.%m.%Y') }}</td>
          {% else %}
            <td>Не указана</td>
          {% endif %}
        </tr>
        <tr>
          <td>Желаемая дата вылета</td>
          {% if model.departure_date is not none %}
            <td>{{ model.departure_date.strftime('%d.%m.%Y') }}</td>
          {% else %}
            <td>Не указана</td>
          {% endif %}
        </tr>
        <tr>
          <td>Цена билета</td>
          {% if model.ticket_price is not none %}
            <td>{{ model.ticket_price }}</td>
          {% else %}
            <td>Не указана</td>
          {% endif %}
        </tr>
        <tr>
          <td>Клуб</td>
          <td><a href="{{ url_for('main.club', id=model.club.id) }}">{{ model.club.name }}</a></td>
        </tr>
        <tr>
          <td>Менеджер</td>
          <td><a href="{{ url_for('main.manager', id=model.manager.id) }}">
            {% if model.manager.name == None %}
              {{ model.manager.username }}
            {% else %}
              {{ model.manager.name }}
            {% endif %}
          </a></td>
        </tr>
      </table>
    </div>
    {% if model.photos %}
      <div class="gallery">
        <div class="head">
          <h2>Галерея</h2>
          <a href="{{ url_for('main.add_photos', id=model.id) }}" class="edit">Добавить фото</a>
        </div>
        <div class="photo-list">
          {% for photo in model.photos %}
            <img src="{{ url_for('static', filename='images/{}'.format(photo.name)) }}" alt="" class="gallery-photo">
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}